@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

div {
  padding: 0;
  margin: 0;
}



.playing {
  background-color: green;
}

.buffering {
  background-color: orange;
}

.pending {
  background-color: gray;
}

.paused {
  background-color: orange;
}

.eos {
  background-color: rgb(255, 0, 0);
}

.error {
  background-color: rgb(255, 0, 0);
}